.message {
  text-align: center;
  color: red;
}

.tradesTable {
  width: 100%;
  overflow: hidden;
  font-size: 1.4rem;
  
  thead {
    background-color: $color-primary-dark;
    color: white;
  }

  th {
    padding: 3px 0;
  }

  td {
    text-align: center;
    padding: 0 3px;
  }

  tr:nth-child(odd) {
    background-color: $color-secondary-dark;
  }
  tr:nth-child(even) {
    background-color: $color-primary-light;
  }
  tr:hover {
    background-color: white;
  }

  &__btn {
    cursor: pointer;
    padding: 2px;
    border-radius: .5rem;
    
    &--delete {
      background-color: red;
    }

    &--edit {
      background-color: $color-primary-dark;
    }
  }
}