<template>
  <div class="chart">
    <h2>نمودار حجم حساب نسبت به شماره ترید</h2>
    <apexchart type="line" :options="options" :series="series" height="300"></apexchart>
  </div>
</template>

<script>
import VueApexCharts from "vue3-apexcharts";

export default {
  props: ['tradesList'],
  components: {apexchart: VueApexCharts},
  computed: {
    options() {
      const xaxisCats = this.tradesList.map((trade, index) => index)
      xaxisCats.push(xaxisCats.length)
      return {
        xaxis: {
          categories: xaxisCats
        },
        theme: {
          monochrome: {
            enabled: true,
            color: '#30BA23'
          }
        }
      }
    },
    series() {
      const seriesData = this.tradesList.map(trade => trade.account_size)
      const lastTrade = this.tradesList[this.tradesList.length - 1]
      seriesData.push(+lastTrade.account_size + +lastTrade.profit)
      return [{
        name: 'حجم حساب',
        data: seriesData
      }]
    }
  }
}
</script>

<style lang="scss" scoped>
.chart {
  background-color: white;

  h2 {
    text-align: center;
    color: $color-primary-dark;
    padding-top: 1rem;
  }
}
</style>