<template>
  <div>
    <table class="tradesTable" dir="rtl">
      <thead>
        <th>شرح</th>
        <th>تعداد کل</th>
        <th>تعداد برد</th>
        <th>تعداد باخت</th>
        <th>مجموع برد</th>
        <th>مجموع باخت</th>
        <th>سود/زیان کل</th>
        <th>میانگین برد</th>
        <th>میانگین باخت</th>
        <th>میانگین هر معامله</th>
        <th>نسبت برد</th>
        <th>سود به زیان</th>
        <th>شاخص سودآوری (PF)</th>
        <th>برد متوالی (تعداد)</th>
        <th>باخت متوالی (تعداد)</th>
        <th>بیشترین سود</th>
        <th>بیشترین زیان</th>
        <th>بیشترین درصد برد</th>
        <th>بیشترین درصد زیان</th>
      </thead>
      <tbody>
        <tr v-for="row in rowsData" :key="row.id">
          <td>{{row.description}}</td>
          <td>{{row.totalNum}}</td>
          <td>{{row.winNum}}</td>
          <td>{{row.lossNum}}</td>
          <td>{{row.totalWins}}</td>
          <td dir="ltr">{{row.totalLoss}}</td>
          <td dir="ltr">{{(row.totalWins + row.totalLoss).toFixed(2)}} ({{(row.totalPercentWins + row.totalPercentLoss).toFixed(2)}}%)</td>
          <td>{{row.winNum != 0 ? `${(row.totalWins / row.winNum).toFixed(2)} (${(row.totalPercentWins / row.winNum).toFixed(2)}%)` : '-'}}</td>
          <td dir="ltr">{{row.lossNum != 0 ? `${(row.totalLoss / row.lossNum).toFixed(2)} (${(row.totalPercentLoss / row.lossNum).toFixed(2)}%)` : '-'}}</td>
          <td dir="ltr">{{row.totalNum != 0 ? `${((row.totalWins + row.totalLoss) / row.totalNum).toFixed(2)} (${((row.totalPercentWins + row.totalPercentLoss) / row.totalNum).toFixed(2)}%)` : '-'}}</td>
          <td>{{row.totalNum != 0 ? `${(row.winNum / row.totalNum * 100).toFixed(2)}%` : '-'}}</td>
          <td>{{row.winNum != 0 && row.lossNum != 0 ? ((row.totalWins / row.winNum) / Math.abs(row.totalLoss / row.lossNum)).toFixed(2): '-'}}</td>
          <td>{{row.totalLoss != 0 ? (row.totalWins / Math.abs(row.totalLoss)).toFixed(2) : '-'}}</td>
          <td>{{`(${row.cwNum})${row.cw}`}}</td>
          <td dir="ltr">{{`${row.cl}(${row.clNum})`}}</td>
          <td>{{row.maxWin != -Infinity && row.maxWin != Infinity ? row.maxWin : '-'}}</td>
          <td dir="ltr">{{row.maxLoss != -Infinity && row.maxLoss != Infinity ? row.maxLoss : '-'}}</td>
          <td>{{row.maxPercentWin != -Infinity && row.maxPercentWin != Infinity ? `${row.maxPercentWin}%` : '-'}}</td>
          <td dir="ltr">{{row.maxPercentLoss != -Infinity && row.maxPercentLoss != Infinity ? `${row.maxPercentLoss}%` : '-'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: ['tradesList'],
  methods: {
    createRowData(trades, description, id) {
      const winTrades = trades.filter(trade => +trade.profit >= 0)
      const lossTrades = trades.filter(trade => +trade.profit < 0)
      const wins = winTrades.map(trade => +trade.profit)
      const losses = lossTrades.map(trade => +trade.profit)
      const percentWins = winTrades.map(trade => +(+trade.profit / +trade.account_size * 100).toFixed(2))
      const percentLosses = lossTrades.map(trade => +(+trade.profit / +trade.account_size * 100).toFixed(2))
        
      const totalWins = wins.reduce((acc, cur) => cur + acc, 0)
      const totalLoss = losses.reduce((acc, cur) => cur + acc, 0)
      const winNum = winTrades.length
      const lossNum = lossTrades.length
      const totalNum = trades.length
      const totalPercentWins = percentWins.reduce((acc, cur) => cur + acc, 0)
      const totalPercentLoss = percentLosses.reduce((acc, cur) => cur + acc, 0)

      let targetCL = []
      let compareCL = []
      for (let i = 0; i < totalNum; i++) {
        if (i === 0 && +trades[i].profit < 0) {
          compareCL.push(trades[i])
        } else {
          if ((+trades[i].profit < 0 && +trades[i - 1].profit < 0) || (compareCL.length == 0 && +trades[i].profit < 0)) {
            compareCL.push(trades[i])
          } else {
            if (compareCL.length > targetCL.length) {
              targetCL = [...compareCL]
            }
            compareCL = []
          }
        }
      }
      if (targetCL.length == 0 || targetCL.length < compareCL.length) {
        targetCL = compareCL
      }
      let targetCW = []
      let compareCW = []
      for (let i = 0; i < totalNum; i++) {
        if (i === 0 && +trades[i].profit >= 0) {
          compareCW.push(trades[i])
        } else {
          if ((+trades[i].profit >= 0 && +trades[i - 1].profit >= 0) || (compareCW.length == 0 && +trades[i].profit >= 0)) {
            compareCW.push(trades[i])
          } else {
            if (compareCW.length > targetCW.length) {
              targetCW = [...compareCW]
            }
            compareCW = []
          }
        }
      }
      if (targetCW.length == 0 || targetCW.length < compareCW.length) {
        targetCW = compareCW
      }
      const cl = targetCL.reduce((acc, trade) => +trade.profit + acc, 0)
      const clNum = targetCL.length
      const cw = targetCW.reduce((acc, trade) => +trade.profit + acc, 0)
      const cwNum = targetCW.length
      
      const maxWin = Math.max(...wins)
      const maxLoss = Math.min(...losses)
      const maxPercentWin = Math.max(...percentWins)
      const maxPercentLoss = Math.min(...percentLosses)

      return {description, id, totalWins, totalLoss, winNum, lossNum, totalNum, cl, cw, clNum, cwNum,
        maxWin, maxLoss, maxPercentWin, maxPercentLoss, totalPercentWins, totalPercentLoss}
    },
    filterTimeRange(start, end) {
      const trades = this.tradesList.filter(trade => {
        const hour = trade.open_date.split(' ')[1].split(':')[0]
        return +hour >= start && +hour < end
      })
      return trades
    },
    filterWeekDay(day) {
      const trades = this.tradesList.filter(trade => {
        const tradeDayIndex = new Date(trade.open_date).getDay()
        return tradeDayIndex == day
      })
      return trades
    }
  },
  computed: {
    rowsData() {
      if (this.tradesList.length > 0) {
        const allTrades = [...this.tradesList]
        const longTrades = this.tradesList.filter(trade => trade.type == 'long')
        const shortTrades = this.tradesList.filter(trade => trade.type == 'short')

        const timeOfDay = [
          {trades: this.filterTimeRange(6, 10), description: '6:00 تا 10:00'},
          {trades: this.filterTimeRange(10, 15), description: '10:00 تا 15:00'},
          {trades: this.filterTimeRange(15, 19), description: '15:00 تا 19:00'},
          {trades: this.filterTimeRange(19, 24), description: '19:00 تا 00:00'},
          {trades: this.filterTimeRange(0, 6), description: '00:00 تا 06:00'}
        ]
        const filteredTimeOfDay = timeOfDay.filter(item => item.trades.length != 0)
        
        // const iranWeekDays = [{day: 'پنجشنبه', pos: 5}, {day: 'جمعه', pos: 6}, {day: 'شنبه', pos: 0}, {day: 'یکشنبه', pos: 1},
        //   {day: 'دوشنبه', pos: 2}, {day: 'سه شنبه', pos: 3}, {day: 'چهارشنبه', pos: 4}]
        // const weekDaysTraded = []
        // this.tradesList.forEach(trade => {
        //   const tradeDayIndex = new Date(trade.close_date).getDay()
        //   if (!weekDaysTraded.includes(tradeDayIndex)) {
        //     weekDaysTraded.push(tradeDayIndex)
        //   }
        // })
        // const weekDays = []
        // const positions = weekDaysTraded.map(dayIndex => iranWeekDays[dayIndex].pos)
        // positions.sort((a, b) => a - b)
        // const sortedDays = positions.map(pos => iranWeekDays.findIndex(el => el.pos == pos))
        // sortedDays.forEach(dayIndex => {
        //   const item = {
        //     trades: this.tradesList.filter(trade => {
        //       const tradeDayIndex = new Date(trade.close_date).getDay()
        //       return tradeDayIndex == dayIndex
        //     }),
        //     description: iranWeekDays[dayIndex].day
        //   }
        //   weekDays.push(item)
        // })

        const allWeekDays = [
          {trades: this.filterWeekDay(2), description: 'شنبه'},
          {trades: this.filterWeekDay(3), description: 'یکشنبه'},
          {trades: this.filterWeekDay(4), description: 'دوشنبه'},
          {trades: this.filterWeekDay(5), description: 'سه شنبه'},
          {trades: this.filterWeekDay(6), description: 'چهارشنبه'},
          {trades: this.filterWeekDay(0), description: 'پنجشنبه'},
          {trades: this.filterWeekDay(1), description: 'جمعه'},
        ]
        const weekDays = allWeekDays.filter(item => item.trades.length != 0)

        const tradedSymbols = []
        this.tradesList.forEach(trade => {
          if (!tradedSymbols.includes(trade.symbolName)) {
            tradedSymbols.push(trade.symbolName)
          }
        })
        const symbolTrades = []
        tradedSymbols.forEach(symbol => {
          symbolTrades.push({
            trades: this.tradesList.filter(trade => trade.symbolName === symbol),
            description: symbol
          })
        })

        const tradeArrays = [
          {trades: allTrades, description: 'همه'},
          {trades: longTrades, description: 'خرید'},
          {trades: shortTrades, description: 'فروش'},
          ...filteredTimeOfDay,
          ...weekDays,
          ...symbolTrades
        ]
        return tradeArrays.map((item, index) => this.createRowData(item.trades, item.description, index))
      } else {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import './trade-list';
</style>