<template>
  <div>
    <search-form :setOpenTrades="setOpenTrades" :setClosedTrades="setClosedTrades" :loadedAccounts="loadedAccounts" />
    <div class="reportBox">
      <div class="reportBox__btnBox">     
        <button class="reportBox__btn" :class="{'reportBox__btn--active': currentReport == 'OpenTradesList'}"
          @click="currentReport = 'OpenTradesList'">تریدهای باز</button>
        <button class="reportBox__btn" :class="{'reportBox__btn--active': currentReport == 'ClosedTradesList'}"
          @click="currentReport = 'ClosedTradesList'">تریدهای بسته</button>
        <button class="reportBox__btn" :class="{'reportBox__btn--active': currentReport == 'DetailsReport'}"
          @click="currentReport = 'DetailsReport'">گزارش</button>
      </div>
      <trades-list type="closed" v-if="currentReport == 'ClosedTradesList'" class="reportBox__comp" :tradesList="loadedClosedTrades"
        :deleteTradeItem="deleteTradeItem" :updateTradeItem="updateTradeItem" :accounts="loadedAccounts" :addAccountItem="addAccountItem" />
      <trades-list type="open" v-if="currentReport == 'OpenTradesList'" class="reportBox__comp" :tradesList="loadedOpenTrades"
        :deleteTradeItem="deleteTradeItem" :updateTradeItem="updateTradeItem" :accounts="loadedAccounts" :addAccountItem="addAccountItem" />
      <details-report v-if="currentReport == 'DetailsReport'" class="reportBox__comp" :tradesList="loadedClosedTrades" />
      <app-chart v-if="currentReport == 'DetailsReport' && loadedClosedTrades.length != 0" :tradesList="loadedClosedTrades" />
    </div>
  </div>
</template>

<script>
import SearchForm from './SearchForm.vue'
import TradesList from './TradesList.vue'
import DetailsReport from './DetailsReport.vue'
import Chart from './Chart.vue'

export default {
  props: ['loadedAccounts', 'addAccountItem'],
  components: { SearchForm, DetailsReport, TradesList, AppChart: Chart },
  data() {
    return {
      loadedOpenTrades: [],
      loadedClosedTrades: [],
      currentReport: 'ClosedTradesList'
    }
  },
  methods: {
    compare(type) {
      if (type == 'close') {
        return (a, b) => {
          const aDate = new Date(a.close_date) 
          const bDate = new Date(b.close_date) 
          return aDate - bDate
        }
      } else {
        return (a, b) => {
          const aDate = new Date(a.open_date) 
          const bDate = new Date(b.open_date) 
          return aDate - bDate
        }
      }
    },
    setOpenTrades(results) {
      results.sort(this.compare('open'))
      this.loadedOpenTrades = [...results]
    },
    setClosedTrades(results) {
      results.sort(this.compare('close'))
      this.loadedClosedTrades = [...results]
    },
    updateTradeItem(editedTrade) {
      const closeIndex = this.loadedClosedTrades.findIndex(item => item.id == editedTrade.id)
      const openIndex = this.loadedOpenTrades.findIndex(item => item.id == editedTrade.id)

      if (closeIndex != -1) {
        if (editedTrade.account_id != this.loadedClosedTrades[closeIndex].account_id) {
          this.loadedClosedTrades.splice(closeIndex, 1)
        } else {
          this.loadedClosedTrades[closeIndex] = editedTrade
          this.loadedClosedTrades.sort(this.compare('close'))
        }
      }

      if (openIndex != -1) {
        if (editedTrade.account_id != this.loadedOpenTrades[openIndex].account_id) {
          this.loadedOpenTrades.splice(openIndex, 1)
        } else if (editedTrade.close_date) {
          this.loadedOpenTrades.splice(openIndex, 1)
          this.loadedClosedTrades.push(editedTrade)
          loadedClosedTrades.sort(this.compare('close'))
        } else {
          this.loadedOpenTrades[openIndex] = editedTrade
          this.loadedOpenTrades.sort(this.compare('open'))
        }
      }
    },
    deleteTradeItem(id, close_date) {
      if (close_date) {
        const index = this.loadedClosedTrades.findIndex(item => item.id == id)
        this.loadedClosedTrades.splice(index, 1)
      } else {
        const index = this.loadedOpenTrades.findIndex(item => item.id == id)
        this.loadedOpenTrades.splice(index, 1)
      }
    }
  }
}
</script>

<style lang="scss">
.reportBox {    
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    margin-top: 1.5rem;

    &__btnBox {
      display: flex;
    }

    &__btn {
      flex-grow: 1;
      padding: 1rem;
      background-color: rgba($color-primary-light, .8);

      &:not(:last-child) {
        border-right: 1px solid white;
      }

      &--active {
        background-color: rgba($color-secondary-dark, .8);
      }
    }

    &__comp {
      padding: 1rem;
      background-color: $color-secondary-light;
    }
  }
</style>