<template>
  <form class="journalForm" @submit.prevent="getReport">
    <div class="info">
      <h2 class="journalForm__title">تهیه گزارش</h2>
      <p class="journalForm__formMessage journalForm__formMessage--fail">{{formFail}}</p>
    </div>

    <div class="journalForm__inputBox">
      <input class="journalForm__input" type="text" autocomplete="off" v-model="account"
         @focus="focusAccount" @blur="blurAccount" required readonly placeholder="انخاب کنید" id="accountInput">
      <label>حساب</label>
      <ul class="loadedResult" v-show="showAccountOptions">
        <input type="search" id="searchingAccounts" class="journalForm__input journalForm__input--search"
          @input="filterAccounts" @focus="filterAccounts" @blur="blurAccountSearch" ref="searchBox" focus placeholder="جستجو">
        <li class="loadedResult__item" v-for="account in filteredAccounts" :key="account.id"
          @click="selectAccount" :id="account.id">
          {{account.title}}
        </li>
      </ul>
    </div>

    <div class="journalForm__inputBox">
      <i class="fas fa-calendar journalForm__calendar" @click="startCalendar = true"></i>
      <input class="journalForm__input journalForm__input--date" id="start-date" type="text"
        v-model="formData.start_date" name="start_date" required readonly />
      <date-picker type="date" element="start-date" v-model="formData.start_date" @close="startCalendar = false"
        format="jYYYY-jMM-jDD" :show="startCalendar" color="#40FA2F" />
      <label>از تاریخ</label>
    </div>

    <div class="journalForm__inputBox">
      <i class="fas fa-calendar journalForm__calendar" @click="closeCalendar = true"></i>
      <input class="journalForm__input journalForm__input--date" id="end-date" type="text"
        v-model="formData.end_date" name="end_date" required readonly />
      <date-picker type="date" element="end-date" v-model="formData.end_date" @close="closeCalendar = false"
        format="jYYYY-jMM-jDD" :show="closeCalendar" color="#40FA2F" />
      <label>تا تاریخ</label>
    </div>

    <button class="journalForm__btn" :disabled="sending">
      <span v-if="!sending">گزارش</span>
      <i v-if="sending" class="loader fas fa-spinner"></i> 
    </button>
  </form>
</template>

<script>
import axios from 'axios'
import DatePicker from 'vue3-persian-datetime-picker'

export default {
  components: {DatePicker},
  data() {
    return {
      account: '',
      formData: {
        account_id: '',
        start_date: '',
        end_date: ''
      },
      sending: false,
      formFail: '',
      startCalendar: false,
      closeCalendar: false,
      filteredAccounts: [],
      sending: false,
      showAccountOptions: false,
    }
  },
  props: ['loadedAccounts', 'setOpenTrades', 'setClosedTrades'],
  methods: {
    async getReport() {
      try {
        this.formFail = ''
        this.sending = true
        const res = await axios.post('/getReport', this.formData)
        this.sending = false
        if (res.data.errMessage) {
          this.formFail = res.data.errMessage
        } else {
          this.setOpenTrades(res.data.openTrades)
          this.setClosedTrades(res.data.closedTrades)
        }
      } catch(err) {
        this.sending = false
      }
    },
    focusAccount() {
      this.showAccountOptions = true
      setTimeout(() => {
        this.$refs.searchBox.focus()
      }, 200)
    },
    blurAccount(event) {
      if (!event.relatedTarget || event.relatedTarget.id != 'searchingAccounts') {
        setTimeout(() => {
          this.showAccountOptions = false
        }, 200);
      }
    },
    filterAccounts(event) {
      if (!event.target.value) {
        this.filteredAccounts = [...this.loadedAccounts]
      } else {
        this.filteredAccounts = this.loadedAccounts.filter(item => {
          return item.title.includes(event.target.value)
        })
      }
    },
    blurAccountSearch(event) {
      if (!event.relatedTarget || event.relatedTarget.id != 'accountInput') {
        setTimeout(() => {
          this.showAccountOptions = false
        }, 200);
      }
    },
    selectAccount(event) {
      this.account = event.target.textContent.trim()
      this.formData.account_id = event.target.id
    }
  }
}
</script>

<style lang="scss" scoped>
@import '../journal-form';

.journalForm {
  width: 110rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: 7rem;

  .info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1rem;
  }

  &__inputBox {
    margin-bottom: 0;
    margin-right: 1.5rem;
    width: 24%;
  }

  &__input {
    width: 80%;

    &--search {
      width: 100%;
    }
  }

  &__btn {
    margin-top: 0;
    width: auto;
    padding: .7rem 5.5rem;
    margin: 0 1.5rem;
  }

  .loadedResult {
    width: 80%;
  }

  &__title {
    margin-bottom: 0;
  }
}
</style>