<template>
  <div>
    <p class="message" v-if="message || deleting">
      <i v-if="deleting" class="loader fas fa-spinner"></i> 
      <span v-if="!deleting">{{message}}</span>
    </p>
    <!-- <input type="search" placeholder="جستجو" v-model="searchTerm" class=""> -->

    <table class="tradesTable" dir="rtl">
      <thead>
        <td>#</td>
        <th>نماد</th>
        <th>تاریخ باز کردن</th>
        <th v-if="type == 'closed'">تاریخ بستن</th>
        <th>نوع</th>
        <th>حجم معامله</th>
        <th>حجم حساب</th>
        <th>قیمت</th>
        <th>حد زیان</th>
        <th>حد سود</th>
        <th v-if="type == 'closed'">سود/زیان</th>
        <th v-if="type == 'closed'">٪سود/زیان</th>
        <th>توضیحات</th>
        <th colspan="2">عملیات</th>
      </thead>
      <tbody>
        <tr v-for="(trade, index) in tradesList" :key="trade.id" :id="trade.id">
          <td>{{index + 1}}</td>
          <td>{{trade.symbolName}}</td>
          <td>{{`${trade.open_date.split(':')[0]}:${trade.open_date.split(':')[1]}`.split('-').join('/')}}</td>
          <td v-if="type == 'closed'">{{`${trade.close_date.split(':')[0]}:${trade.close_date.split(':')[1]}`.split('-').join('/')}}</td>
          <td>{{trade.type == 'long' ? 'خرید' : 'فروش'}}</td>
          <td>{{trade.size}}</td>
          <td>{{trade.account_size}}</td>
          <td>{{trade.price}}</td>
          <td>{{trade.sl}}</td>
          <td>{{trade.tp}}</td>
          <td dir="ltr" v-if="type == 'closed'">{{trade.profit}}</td>
          <td dir="ltr" v-if="type == 'closed'">{{(+trade.profit / +trade.account_size * 100).toFixed(2)}}%</td>
          <td class="tradesTable__explain">{{trade.explanation ? `${trade.explanation.substr(0, 15)} ...` : ''}}</td>
          <td class="tradesTable__btn tradesTable__btn--edit" @click="editTrade(trade)">
            <span>تغییر</span>
          </td>
          <td class="tradesTable__btn tradesTable__btn--delete" @click="deleteTrade(trade.id, trade.close_date)">
            <span>حذف</span>
          </td>
        </tr>
      </tbody>
    </table>

    <app-modal v-if="editing" @close="editing = false">
      <add-edit-trade class="editForm" :loadedAccounts="accounts" :addAccountItem="addAccountItem"
        type="edit" :trade="trade" :updateTradeItem="updateTradeItem" />
    </app-modal>
  </div>
</template>

<script>
import axios from 'axios'
import Modal from '../../../components/Modal.vue'
import AddEditTrade from '../AddEditTrade.vue'

export default {
  props: ['type', 'tradesList', 'deleteTradeItem', 'updateTradeItem', 'accounts', 'addAccountItem'],
  components: {appModal: Modal, AddEditTrade},
  data() {
    return {
      message: '',
      deleting: false,
      editing: false,
      trade: null,
      filteredTrades: [],
      filterTerm: ''
    }
  },
  methods: {
    async deleteTrade(id, close_date) {
      try {
        this.deleting = true
        await axios.delete(`/deleteTrade/${id}`)
        this.deleteTradeItem(id, close_date)
        this.deleting = false
        this.message = 'ترید مورد نظر حذف شد'
      } catch(err) {
        console.log(err)
      }
    },
    editTrade(trade) {
      this.trade = {...trade}
      this.editing = true
    }
  }
}
</script>

<style lang="scss" scoped>
@import './trade-list';

.editForm {
  padding: 1.5rem;
}
</style>