@import '../base';
@import '../components/form';
@import '../components/loader';

.atf {
  height: 100vh;
  background-color: $color-primary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}