@import '../base';
@import '../components/form';
@import '../components/loader';
@import '../components/footer';

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/public/images/background.jpg');
  background-color: $color-primary-dark;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: $page-width;
  padding-top: 4rem;
}

.interact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about {
  color: white;
  margin-bottom: 3rem;

  .title {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 4rem;
  }

  img {
    height: 5rem;
    margin-left: 1.5rem;
  }
}

.subHead {
  text-align: center;
  margin: 0 1.5rem;
  color: white;
}

.subscription {
  background-color: $color-secondary-light;
  border-radius: 2rem;
  padding: 2rem 1rem;
  display: inline-block;
  text-align: center;
  color: $color-primary-dark;

  h2, p {
    margin-bottom: 1.5rem;
  }
  
  &__plans {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .plan {
    display: flex;
    flex-direction: column;
    background-color: $color-primary-dark;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    color: white;
    margin: 0 1.5rem;

    h3 {
      margin-bottom: 1rem;
    }
  
    &__btn {
      background-color: $color-secondary-light;
      padding: .8rem 1.5rem;
      margin-top: 2rem;
      border-radius: 5px;
      width: 100%;

      &:hover {
        background-color: $color-secondary-dark;
      }
    }
  }

  .subscriptionMessage {
    color: red;
  }
}

.moreInfo {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sample {
    width: 95%;
    border-radius: 1.5rem;
    margin-top: 2rem;
  }
}
