<template>
  <div class="layout">
    <div class="layout__container">
      <app-modal class="layout__modal" v-if="openAddTrade" @close="openAddTrade = false">
        <add-edit-trade :loadedAccounts="accounts" :addAccountItem="addAccountItem" type="add" :trade="trade" />
      </app-modal>

      <app-modal class="layout__modal" v-if="openEditAccount" @close="openEditAccount = false">
        <edit-account :loadedAccounts="accounts" :updateAccountItem="updateAccountItem" :deleteAccountItem="deleteAccountItem" />
      </app-modal>

      <app-modal class="layout__modal" v-if="openEditSymbol" @close="openEditSymbol = false">
        <edit-symbol :loadedAccounts="accounts" />
      </app-modal>
      
      <app-modal class="layout__modal" v-if="openMenu" @close="openMenu = false">
        <authenticated-menu route="journal" :username="username" />
      </app-modal>

      <div class="layout__btnBox">
        <button class="layout__btn" @click="openEditAccount = true">ویرایش حساب</button>
        <button class="layout__btn" @click="openEditSymbol = true">ویرایش نماد</button>
        <button class="layout__btn" @click="openAddTrade = true">افزودن ترید</button>
        <button class="layout__btn" @click="openMenu = true">منو</button>
      </div>
      
      <get-report :loadedAccounts="accounts" :addAccountItem="addAccountItem" />
    </div>
  </div>
</template>

<script>
import axios from 'axios'

import AddEditTrade from './components/AddEditTrade.vue'
import EditAccount from './components/EditAccount.vue'
import EditSymbol from './components/EditSymbol.vue'
import GetReport from './components/GetReport/GetReport.vue'
import AuthenticatedMenu from '../components/AuthenticatedMenu.vue'
import Modal from '../components/Modal.vue'

export default {
  props: ['username'],
  data() {
    return {
      trade: {
        accountTitle: '',
        symbolName: '',
        open_date: '',
        close_date: '',
        type: '',
        size: '',
        account_size: '',
        profit: '',
        price: '',
        sl: '',
        tp: '',
        explanation: ''
      },
      accounts: [],
      openAddTrade: false,
      openEditAccount: false,
      openEditSymbol: false,
      openMenu: false
    }
  },
  components: { AddEditTrade, EditAccount, EditSymbol, GetReport, AuthenticatedMenu, 'app-modal': Modal },
  async mounted() {
    const accountRes = await axios.get('/getUserAccounts')
    this.accounts = accountRes.data
  },
  methods: {
    addAccountItem(item) {
      const index = this.accounts.findIndex(el => el.id == item.id)
      if (index == -1) {
        this.accounts.push(item)
      }
    },
    updateAccountItem(oldItemTitle, newItemTitle) {
      const index = this.accounts.findIndex(item => item.title == oldItemTitle)
      this.accounts[index].title = newItemTitle
    },
    deleteAccountItem(id) {
      const index = this.accounts.findIndex(item => item.id == id)
      this.accounts.splice(index, 1)
    }
  }
}
</script>

<style lang="scss">
.layout {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;

  &__container {
    width: 125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__modal {
    z-index: 1000;
  }

  &__btnBox {
    background-color: $color-secondary-light;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    // width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      margin: 0 1rem;
      background-color: $color-primary-dark;
      border-radius: 5px;
      padding: .8rem 2.5rem;
    }
  }
}
</style>