<template>
  <div class="authForms">
    <button class="authForms__btn authForms__btn--signin" :class="{'authForms__btn--active': currentForm == 'Signin'}"
      @click="currentForm = 'Signin'">ورود</button>
    <button class="authForms__btn authForms__btn--signup" :class="{'authForms__btn--active': currentForm == 'Signup'}"
      @click="currentForm = 'Signup'">ثبت نام</button>
    <component :is="currentForm" class="authForms__form" :composition="composition"></component>
  </div>
</template>

<script>
import Signin from './Signin.vue'
import Signup from './Signup.vue'

export default {
  props: ['composition'],
  data() {
    return {
      currentForm: 'Signin'
    }
  },
  components: {
    Signin,
    Signup
  }
}
</script>

<style lang="scss">
  .authForms {    
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
    display: inline-block;

    &__btn {
      width: 50%;
      padding: 1rem;
      background-color: rgba($color-primary-light, .8);
      position: absolute;
      top: 0;

      &--signin {
        left: 0;
      }
      &--signup {
        right: 0;
      }

      &--active {
        background-color: rgba($color-secondary-dark, .8);
      }
    }

    &__form {
      padding-top: 4rem;
    }
  }

</style>
