<template>
  <form class="sampleForm" @submit.prevent="submit">
    <div class="sampleForm__message">
      <p class="sampleForm__result sampleForm__result--error">{{formError}}</p>
    </div>

    <label>ایمیل</label>
    <input type="email" name="email" class="formInput" @blur="v$.email.$touch"
       v-model.trim="email" :class="{formInput__invalid: v$.email.$error}">
    <div class="formInput__error">
      <div v-for="error of v$.email.$errors" :key="error.$uid">
        <p v-if="error.$validator == 'required'">این فیلد نمیتواند خالی باشد</p>
        <p v-if="error.$validator == 'email'">لطفا یک ایمیل معتبر وارد کنید</p>
      </div>
    </div>

    <label>گذرواژه</label>
    <input type="password" name="password" class="formInput" @blur="v$.password.$touch"
      v-model.trim="password" :class="{formInput__invalid: v$.password.$error}">
    <div class="formInput__error">
      <div v-for="error of v$.password.$errors" :key="error.$uid">
        <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
      </div>
    </div>

    <div class="checkbox">
      <input type="checkbox" name="remember" v-model="remember" id="remember_checkbox">
      <label class="formInput__label" for="remember_checkbox">بخاطر بسپار</label>
    </div>

    <a class="sampleForm__link" href="/forgotPassword" target="_blank">گذرواژه را فراموش کردم</a>
    <a class="sampleForm__link" href="/" v-if="composition == 'alone'">
      صفحه اصلی
      <i class="fas fa-home"></i> 
    </a>

    <button class="sampleForm__btn" :disabled="v$.$invalid || sending">
      <span v-if="!sending">ورود</span>
      <i v-if="sending" class="loader fas fa-spinner"></i>
    </button>
  </form>
</template>

<script>
import axios from 'axios'
import { useVuelidate } from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'

export default {
  props: ['composition'],
  setup () {
    return { v$: useVuelidate() }
  },
  data() {
    return {
      email: '',
      password: '',
      remember: false,
      sending: false,
      formError: ''
    }
  },
  validations() {
    return {
      email: {email, required},
      password: {required}
    }
  },
  methods: {
    async submit() {
      const data = {
        email: this.email,
        password: this.password,
        remember: this.remember
      }

      try {
        this.sending = true
        await axios.post('/signin', data)
        location.href = '/journal'
      } catch(err) {
        this.sending = false
        if (err.response.status == 401) {
          this.formError = err.response.data.message
        }
      }
    }
  }
}
</script>
