<template>
  <form class="sampleForm signupForm" @submit.prevent="submit">
    <div class="sampleForm__message"></div>

    <label>نام کاربری</label>
    <input type="text" name="username" class="formInput" @blur="v$.username.$touch"
      v-model.trim="username" :class="{formInput__invalid: v$.username.$error}">
    <div class="formInput__error">
      <div v-for="error of v$.username.$errors" :key="error.$uid">
        <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
        <p v-if="error.$validator == 'maxLength'">از بیشینه {{usernameMaxLength}} کاراکتر استفاده کنید</p>
      </div>
    </div>

    <label>ایمیل</label>
    <input type="email" name="email" class="formInput" @blur="v$.email.$touch"
       v-model.trim="email" :class="{formInput__invalid: v$.email.$error}">
    <div class="formInput__error">
      <div v-for="error of v$.email.$errors" :key="error.$uid">
        <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
        <p v-if="error.$validator == 'email'">لطفا یک ایمیل معتبر وارد کنید</p>
        <p v-if="emailError">{{emailError}}</p>
      </div>
    </div>

    <label>گذرواژه</label>
    <input type="password" name="password" class="formInput" @blur="v$.password.$touch"
      v-model.trim="password" :class="{formInput__invalid: v$.password.$error}">
    <div class="formInput__error">
      <div v-for="error of v$.password.$errors" :key="error.$uid">
        <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
        <p v-if="error.$validator == 'minLength'">از کمینه {{passwordMinLength}} کاراکتر استفاده کنید</p>
      </div>
    </div>

    <label>تکرار گذرواژه</label>
    <input type="password" name="repeatPassword" class="formInput" @blur="v$.repeatPassword.$touch"
      v-model.trim="repeatPassword" :class="{formInput__invalid: v$.repeatPassword.$error}">
    <div class="formInput__error">
      <div v-for="error of v$.repeatPassword.$errors" :key="error.$uid">
        <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
        <p v-if="error.$validator == 'sameAsPassword'">با گذرواژه همخوانی ندارد</p>
      </div>
    </div>

    <a class="sampleForm__link" href="/" v-if="composition == 'alone'">
      صفحه اصلی
      <i class="fas fa-home"></i> 
    </a>

    <button class="sampleForm__btn" :disabled="v$.$invalid || sending">
      <span v-if="!sending">ثبت نام</span>
      <i v-if="sending" class="loader fas fa-spinner"></i>
    </button>
    
  </form>
</template>

<script>
import axios from 'axios'
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, maxLength, sameAs } from '@vuelidate/validators'

export default {
  props: ['composition'],
  setup () {
    return { v$: useVuelidate() }
  },
  data() {
    return {
      username: '',
      email: '',
      password: '',
      repeatPassword: '',
      sending: false,
      emailError: '',
      passwordMinLength: 8,
      usernameMaxLength: 25
    }
  },
  validations() {
    return {
      email: {required, email},
      username: {required, maxLength: maxLength(this.usernameMaxLength)},
      password: {required, minLength: minLength(this.passwordMinLength)},
      repeatPassword: {required, sameAsPassword: sameAs(this.password)}
    }
  },
  methods: {
    async submit() {
      const data = {
        username: this.username,
        email: this.email,
        password: this.password
      }
      try {
        this.sending = true
        await axios.post('/signup', data)
        location.href = '/verifyEmail'
      } catch(err) {
        this.sending = false
        if ('email' in err.response.data) {
          this.emailError = err.response.data.email
        }
      }  
    }
  }
}
</script>
