*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body, button, a {
  font-family: $font;
  font-size: 1.6rem;
}

input, textarea, button {
  outline: none;
}

button {
  cursor: pointer;
}