$color-primary-dark: #30BA23;
$color-primary-light: #40FA2F;
$color-secondary-dark: #B4B3B5;
$color-secondary-light: #DAD9DB;

$page-width: 100rem;

@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/public/BYekan.ttf");
}
$font: 'BYekan', sans-serif;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };  // 600px
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 84em) { @content };  // 1330px
  }
}
