<template>
  <div class="authenticatedMenu">
    <a v-if="route != 'home'" href="/">
      <div class="content">
        صفحه اصلی
        <i class="fas fa-home"></i>
      </div>
      <div class="separator"></div>
    </a>

    <a v-if="route != 'journal'" href="/journal">
      <div class="content">
        ژورنال
        <i class="fas fa-book"></i>
      </div>
      <div class="separator"></div>
    </a>

    <a v-if="route != 'calculator'" href="/calculator">
      <div class="content">
        ماشین حساب
        <i class="fas fa-calculator"></i>
      </div>
      <div class="separator"></div>
    </a>

    <a href="/profile">
      <div class="content">
        {{username}}
        <i class="fas fa-user"></i>
      </div>
      <div class="separator"></div>
    </a>

    <a href="/signout">
      <div class="content">
        خروج
        <i class="fas fa-sign-out-alt"></i>
      </div>
    </a>
  </div>  
</template>

<script>
export default {
  props: ['route', 'username']
}
</script>

<style lang="scss">
.authenticatedMenu {
  border-radius: 2rem;
  background-color: $color-secondary-light;
  width: 30rem;
  overflow: hidden;
  padding: 1.5rem 0;
  
  a {
    color: $color-primary-dark;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 5rem;

    .content {
      margin-top: 1rem;
    }

    i {
      margin-left: 1.5rem;
      transform: scale(1.3);
    }

    &:hover {
      background-color: $color-secondary-dark;
    }
  }

  .separator {
    width: 80%;
    border-top: 1px solid $color-primary-dark;
    margin: 0 auto;
  }
}
</style>