<template>
  <div class="modal">
    <div class="modal__backdrop" @click="$emit('close')"></div>
    <i class="fas fa-times modal__close" @click="$emit('close')"></i>
    <slot class="modal__content"></slot>
  </div>
</template>

<style lang="scss">
  .modal {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &__close {
      position: absolute;
      right: 5rem;
      top: 5rem;
      transform: scale(3.5);
      color: white;
      cursor: pointer;
    }

    &__backdrop {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(black, .5);
      z-index: -500;
    }
  }
</style>