<template>
  <div class="layout">
    <div class="guide">
      <h2>راهنما با مثال</h2>
      <div class="guide__explanation">
        <p>ارز بیس : اتریوم</p>
        <h3>ETHBTC: جفت ارز اتریوم/بیتکوین</h3>
        <p>ارز کوت: بیتکوین</p>
      </div>
    </div>
    <authenticated-menu :username="username" route="calculator" />
    <form class="journalForm">
      <h2 class="journalForm__title">محاسبه حجم پوزیشن</h2>

      <div class="journalForm__inputBox">
        <select class="journalForm__input" name="market" v-model="market">
          <option value="crypto">رمزارز</option>
          <option value="forex">فارکس</option>
        </select>
        <label>بازار</label>
      </div>

      <div class="journalForm__inputBox">
        <input class="journalForm__input" type="number" step="0.0000000001" name="account_size" v-model="account_size" required>
        <label>حجم حساب (دلار)</label>
      </div>

      <div class="journalForm__inputBox">
        <input class="journalForm__input" type="number" step="0.01" name="max_loss" v-model="max_loss" required>
        <label>٪ بیشترین ضرر</label>
      </div>

      <div class="journalForm__inputBox">
        <input class="journalForm__input" type="number" step="0.0000000001" name="quote_dollar_price" v-model="quote_dollar_price" required>
        <label>قیمت ارز کوت به دلار</label>
      </div>

      <div class="journalForm__inputBox">
        <input class="journalForm__input" type="number" step="0.0000000001" name="entry_price" v-model="entry_price" required>
        <label>قیمت ورود</label>
      </div>

      <div class="journalForm__inputBox">
        <input class="journalForm__input" type="number" step="0.0000000001" name="sl" v-model="sl" required>
        <label>حد زیان</label>
      </div>

      <div dir="rtl" class="calculator-result">
        <h3>حجم محاسبه شده: </h3>
        <div>(واحد ارز بیس) {{isFinite(volume_base) ? volume_base : '-'}}</div>
        <div>(واحد ارز کوت) {{isFinite(volume_quote) ? volume_quote : '-'}}</div>
        <div>(واحد دلار) {{isFinite(volume_dollar) ? volume_dollar : '-'}}</div>
        <div v-if="market == 'forex'">(لات) {{isFinite(base_lot) ? base_lot : '-'}}</div>
        
      </div>

    </form>

    <form class="journalForm">
      <h2 class="journalForm__title">محاسبه قیمت لیکوئیدیشن</h2>

      <div class="journalForm__inputBox">
        <input class="journalForm__input" type="number" step="0.0000000001" name="account_size" v-model="account_size" required>
        <label>حجم حساب (دلار)</label>
      </div>

      <div class="journalForm__inputBox">
        <input class="journalForm__input" type="number" step="0.0000000001" name="position_size" v-model="volume_base" required>
        <label>حجم پوزیشن (بیس)</label>
      </div>

      <div class="journalForm__inputBox">
        <input class="journalForm__input" type="number" step="0.0000000001" name="entry_price" v-model="entry_price" required>
        <label>قیمت ورود</label>
      </div>

      <div dir="rtl" class="calculator-result">
        <h3>قیمت محاسبه شده: </h3>
        <div>(واحد ارز بیس) {{isFinite(liq_price) ? liq_price : '-'}}</div>
      </div>
    </form>
  </div>
</template>

<script>
import AuthenticatedMenu from './components/AuthenticatedMenu.vue'

export default {
  components: {AuthenticatedMenu},
  props: ['username'],
  data() {
    return {
      market: 'crypto',
      account_size: null,
      entry_price: null,
      sl: null,
      max_loss: null,
      quote_dollar_price: 1,
      account_size: null,
      entry_price: null
    }
  },
  computed: {
    volume_base() {     
      return (((this.max_loss / 100 * this.account_size) / this.quote_dollar_price) / Math.abs(this.entry_price - this.sl))
    },
    volume_quote() {     
      return (((this.max_loss / 100 * this.account_size) / this.quote_dollar_price) / Math.abs(this.entry_price - this.sl) * this.entry_price)
    },
    volume_dollar() {      
      return ((this.max_loss / 100 * this.account_size) / Math.abs(this.entry_price - this.sl) * this.entry_price)
    },
    base_lot() {
      return (((this.max_loss / 100 * this.account_size) / this.quote_dollar_price) / Math.abs(this.entry_price - this.sl)) / 100000
    },
    liq_price() {
      return Math.abs(this.entry_price - ((this.account_size / this.quote_dollar_price) / this.volume_base))
    }
  }
}
</script>

<style lang="scss">
@import "./Journal/components/journal-form";

.journalForm {
  width: 32rem;
}

.layout {
  min-height: 100vh;
  width: $page-width;
  margin: 0 auto;
  padding-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.calculator-result {
  text-align: center;
  margin-top: 2rem;
  color: $color-primary-dark;

  h1 {
    margin-bottom: 1.5rem;
  }
}

.guide {
  color: $color-primary-dark;
  background-color: $color-secondary-light;
  padding: 1.5rem 0;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
  border-radius: 1.5rem;

  h2 {
    margin-bottom: 1.5rem;
  }

  &__explanation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
} 
</style>