<template>
  <div class="atf">
    <h2>برای تغییر گذرواژه ایمیل خود را وارد کنید تا لینک تغییر گذرواژه برای شما فرستاده شود</h2>
    <form class="sampleForm forgotPasswordForm" @submit.prevent="sendEmail">
      <div class="sampleForm__message">
        <p class="sampleForm__result sampleForm__result--success" v-if="sent">{{sent}}</p>
      </div>

      <label>ایمیل</label>
      <input type="email" name="email" class="formInput" @blur="v$.email.$touch"
        v-model.trim="email" :class="{formInput__invalid: v$.email.$error}">
      <div class="formInput__error">
        <div v-for="error of v$.email.$errors" :key="error.$uid">
          <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
          <p v-if="error.$validator == 'email'">لطفا یک ایمیل معتبر وارد کنید</p>
        </div>
      </div>

      <a class="sampleForm__link" href="/">
        صفحه اصلی
        <i class="fas fa-home"></i> 
      </a>

      <button class="sampleForm__btn" :disabled="v$.$invalid || sending">
        <span v-if="!sending">فرستادن لینک</span>
        <i v-if="sending" class="loader fas fa-spinner"></i>
      </button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import { useVuelidate } from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'

export default {
  data() {
    return {
      email: '',
      sending: false,
      sent: ''
    }
  },
  setup () {
    return { v$: useVuelidate() }
  },
  validations() {
    return {
      email: {email, required}
    }
  },
  methods: {
    async sendEmail() {
      try {
        this.sending = true
        const res = await axios.post('/forgotPasswordForm', {email: this.email}) 
        this.sending = false
        this.sent = res.data.status
      } catch(err) {
        this.sending = false
        this.sent = err.response.data.email
      }
    }
  }
}
</script>

<style lang="scss">
.atf {
  height: 100vh;
  background-color: $color-primary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;

  h2 {
    color: white;
    margin-bottom: 3rem;
    text-align: center;
    width: 30rem;
  }
}

.forgotPasswordForm {
  padding-top: 0;
}
</style>