<template>
  <div class="atf">
    <form class="sampleForm signupForm">
      <div class="sampleForm__message">
        <p class="sampleForm__result sampleForm__result--error">{{formError}}</p>
        <p class="sampleForm__result sampleForm__result--success">{{formSuccess}}</p>
      </div>

      <label>نام کاربری</label>
      <input type="text" name="username" class="formInput" @blur="v$.username.$touch"
        v-model.trim="username" :class="{formInput__invalid: v$.username.$error}">
      <div class="formInput__error">
        <div v-for="error of v$.username.$errors" :key="error.$uid">
          <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
          <p v-if="error.$validator == 'maxLength'">از بیشینه {{usernameMaxLength}} کاراکتر استفاده کنید</p>
        </div>
      </div>

      <label>ایمیل</label>
      <input type="email" name="email" class="formInput" @blur="v$.email.$touch"
        v-model.trim="email" :class="{formInput__invalid: v$.email.$error}">
      <div class="formInput__error">
        <div v-for="error of v$.username.$errors" :key="error.$uid">
          <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
          <p v-if="error.$validator == 'email'">لطفا یک ایمیل معتبر وارد کنید</p>
          <p v-if="emailError">{{emailError}}</p>
        </div>
      </div>

      <label>تغییر گذرواژه</label>
      <input type="password" name="password" class="formInput" @blur="v$.password.$touch"
        v-model.trim="password" :class="{formInput__invalid: v$.password.$error}">
      <div class="formInput__error">
        <div v-for="error of v$.username.$errors" :key="error.$uid">
          <p v-if="error.$validator == 'minLength'">از کمینه {{passwordMinLength}} کاراکتر استفاده کنید</p>
        </div>
      </div>

      <label>تکرار گذرواژه جدید</label>
      <input type="password" name="repeatPassword" class="formInput" @blur="v$.repeatPassword.$touch"
        v-model.trim="repeatPassword" :class="{formInput__invalid: v$.repeatPassword.$error}">
      <div class="formInput__error">
        <div v-for="error of v$.username.$errors" :key="error.$uid">
          <p v-if="error.$validator == 'sameAsPassword'">با گذرواژه همخوانی ندارد</p>
        </div>
      </div>

      <a class="sampleForm__link" href="/">
        صفحه اصلی
        <i class="fas fa-home"></i> 
      </a>

      <div class="btnBox">
        <button class="sampleForm__btn" :disabled="v$.$invalid || sending" @click.prevent="editUser">
          <span v-if="!sending">ویرایش</span>
          <i v-if="sending" class="loader fas fa-spinner"></i> 
        </button>

        <button class="sampleForm__btn sampleForm__btn--delete" :disabled="deleting" @click.prevent="deleteModal = true">
          <span v-if="!deleting">حذف</span>
          <i v-if="deleting" class="loader fas fa-spinner"></i> 
        </button>
      </div>
      
    </form>

    <app-modal v-if="deleteModal" @close="deleteModal = false">
      <form class="sampleForm">
        <div class="sampleForm__message">
          <h3 class="sampleForm__result sampleForm__result--success">از حذف کردن حساب کاربری خود مطمئن هستید؟</h3>
        </div>

        <button class="sampleForm__btn" @click.prevent="deleteUser">حذف حساب</button>
        <!-- <div class="btnBox">
          <button class="sampleForm__btn sampleForm__btn--delete" @click.prevent="deleteModal = false">لغو</button>
        </div> -->
      </form>
    </app-modal>
  </div>
</template>

<script>
import axios from 'axios'
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, maxLength, sameAs } from '@vuelidate/validators'

import Modal from './components/Modal.vue'

export default {
  props: ['user'],
  setup () {
    return { v$: useVuelidate() }
  },
  components: {appModal: Modal},
  data() {
    return {
      username: this.user.username,
      email: this.user.email,
      password: '',
      repeatPassword: '',
      sending: false,
      emailError: '',
      deleting: false,
      formError: '',
      formSuccess: '',
      deleteModal: false,
      passwordMinLength: 8,
      usernameMaxLength: 25
    }
  },
  validations() {
    return {
      email: {required, email},
      username: {required, maxLength: maxLength(this.usernameMaxLength)},
      password: {minLength: minLength(this.passwordMinLength)},
      repeatPassword: {sameAsPassword: sameAs(this.password)}
    }
  },
  methods: {
    async editUser() {
      const data = {
        username: this.username,
        email: this.email,
        password: this.password
      }
      try {
        this.sending = true
        const res = await axios.patch('/editUser', data)
        this.sending = false
        this.formSuccess = res.data.message
        this.username = res.data.user.username
        this.email = res.data.user.email
      } catch(err) {
        this.sending = false
        if ('email' in err.response.data) {
          this.emailError = err.response.data.email
        } else {
          this.formError = err.response.data.message
        }
      }  
    },
    async deleteUser() {
      try {
        this.deleteModal = false
        this.deleting = true
        await axios.delete('/deleteUser')
        location.href = '/'
      } catch(err) {
        this.formError = err.response
      }
    }
  }
}
</script>

<style lang="scss">
  .btnBox {
    display: flex;
    justify-content: space-between;

    .sampleForm__btn {
      width: 45%;

      &--delete {
        background-color: red;
      }
    }
  }
</style>