<template>
  <div class="atf">
    <form class="sampleForm forgotPasswordForm" @submit.prevent="submit">
      <div class="sampleForm__message">
        <p class="sampleForm__result sampleForm__result--success" v-if="sent">{{sent}}</p>
      </div>

      <label>ایمیل</label>
      <input type="email" name="email" class="formInput" @blur="v$.email.$touch"
        v-model.trim="email" :class="{formInput__invalid: v$.email.$error}">
      <div class="formInput__error">
        <div v-for="error of v$.email.$errors" :key="error.$uid">
          <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
          <p v-if="error.$validator == 'email'">لطفا یک ایمیل معتبر وارد کنید</p>
        </div>
      </div>

      <label>گذرواژه</label>
      <input type="password" name="password" class="formInput" @blur="v$.password.$touch"
        v-model.trim="password" :class="{formInput__invalid: v$.password.$error}">
      <div class="formInput__error">
        <div v-for="error of v$.email.$errors" :key="error.$uid">
          <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
          <p v-if="error.$validator == 'minLength'">از کمینه {{passwordMinLength}} کاراکتر استفاده کنید</p>
        </div>
      </div>

      <label>تکرار گذرواژه</label>
      <input type="password" name="password_confirmation" class="formInput" @blur="v$.password_confirmation.$touch"
        v-model.trim="password_confirmation" :class="{formInput__invalid: v$.password_confirmation.$error}">
      <div class="formInput__error">
        <div v-for="error of v$.email.$errors" :key="error.$uid">
          <p v-if="error.$validator == 'required'">این فیلد نمی تواند خالی باشد</p>
          <p v-if="error.$validator == 'sameAsPassword'">با گذرواژه همخوانی ندارد</p>
        </div>
      </div>

      <a class="sampleForm__link" href="/">
        صفحه اصلی
        <i class="fas fa-home"></i> 
      </a>

      <button class="sampleForm__btn" :disabled="v$.$invalid || sending">
        <span v-if="!sending">تغییر رمز عبور</span>
        <i v-if="sending" class="loader fas fa-spinner"></i>
      </button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, sameAs } from '@vuelidate/validators'

export default {
  props: ['token'],
  setup () {
    return { v$: useVuelidate() }
  },
  data() {
    return {
      email: '',
      password: '',
      password_confirmation: '',
      sending: false,
      sent: '',
      passwordMinLength: 8,
    }
  },
  validations() {
    return {
      email: {email, required},
      password: {required, minLength: minLength(this.passwordMinLength)},
      password_confirmation: {required, sameAsPassword: sameAs(this.password)}
    }
  },
  methods: {
    async submit() {
      const data = {
        email: this.email,
        password: this.password,
        password_confirmation: this.password_confirmation,
        token: this.token
      }
      try {
        this.sending = true
        const res = await axios.post('/resetPasswordForm', data) 
        this.sending = false
        this.sent = res.data.status
      } catch(err) {
        this.sending = false
        this.sent = err.response.data.email
      }
    }
  }
}
</script>

<style lang="scss">
.atf {
  height: 100vh;
  background-color: $color-primary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.forgotPasswordForm {
  padding-top: 0;
}
</style>