<template>
  <div class="atf">
    <form class="sampleForm" @submit.prevent="sendEmail">
      <h3 class="form_heading">ایمیل خود را تایید کنید</h3>

      <div class="sampleForm__message">
        <p dir="rtl" class="sampleForm__result sampleForm__result--success" v-if="sent">{{sent}}</p>
      </div>

      <a class="sampleForm__link" href="/">
        صفحه اصلی
        <i class="fas fa-home"></i> 
      </a>

      <button class="sampleForm__btn" :disabled="sending">
        <span v-if="!sending">ارسال مجدد ایمیل</span>
        <i v-if="sending" class="loader fas fa-spinner"></i>
      </button>

    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      sending: false,
      sent: ''
    }
  },
  methods: {
    async sendEmail() {
      try {
        this.sending = true
        const res = await axios.post('/resendVerificationEmail') 
        this.sending = false
        this.sent = res.data.message
      } catch(err) {
        this.sending = false
      }
    }
  }
}
</script>

<style lang="scss">
.atf {
  height: 100vh;
  background-color: $color-primary-dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
}

.form_heading {
  text-align: center;
}

</style>