@import "../variables";

.footer {
  margin-top: 3rem;
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__text {
    z-index: 10;
    color: white;
    font-size: 2.1rem;

    a {
      color: white;
      font-size: 2.1rem;

      &:hover {
        color: $color-secondary-dark;
      }
    }
  }

  &__bright-side, &__dark-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-primary-light;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
  }

  &__dark-side {
    background-color: $color-primary-dark;
    clip-path: polygon(25% 100%, 50% 0, 100% 100%);
  }
}