.sampleForm {
  display: flex;
  flex-direction: column;
  background-color: $color-secondary-light;
  padding: 1.5rem;
  border-radius: 2rem;
  width: 30rem;

  &__btn {
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    background-color: $color-primary-dark;

    &:disabled {
      background-color: $color-secondary-dark;
      cursor: default;
    }
  }

  &__message {
    min-height: 2.2rem;
  }
  
  &__result {
    font-size: 1.4rem;
    text-align: center;
    margin: 4px 0;
    
    &--success {
      color: green;
    }
    &--error {
      color: red;
    }
  }

  &__link {
    align-self: center;
    color: $color-primary-dark;
    margin-bottom: 1rem;

    &:hover {
      color: $color-secondary-dark;
    }
  }

  label {
    text-align: right;
    margin-bottom: 3px;
  }
}

.formInput {
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
  text-align: right;

  &[type=email] {
    text-align: left;
  }

  &__invalid {
    border: 1px solid red;
  }

  &__error {
    min-height: 2.2rem;

    p {
      color: red;
      font-size: 1.4rem;
      margin-top: 4px;
    }
  }

  &__label {
    text-align: right;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  input {
    margin-right: 1rem;
  }
}