.loader {
  animation: spinner 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;    
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}