.journalForm {
  background-color: $color-secondary-light;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 2rem;
  width: 28rem;

  &__title {
    text-align: center;
    color: $color-primary-dark;
    margin-bottom: 1.5rem;
  }

  &__inputBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;
  }

  &__input {
    border-radius: 3px;
    padding: .8rem;
    width: 15rem;
    text-align: right;

    &--date {
      padding-left: 3.2rem;
    }

    &--search {
      border: 2px solid $color-secondary-dark;
    }
  }

  textarea {
    resize: vertical;
  }

  &__calendar {
    color: $color-primary-dark;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    left: 0.8rem;
  }

  &__btn {
    background-color: $color-primary-dark;
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    margin-top: 1rem;

    &:disabled {
      background-color: $color-secondary-dark;
      cursor: default;
    }

    &--delete {
      background-color: red;
    }
  }

  &__formMessage {
    text-align: center;
    margin-bottom: 1rem;

    &--success {
      color: $color-primary-dark;
    }
    &--fail {
      color: red;
    }
  }

  .btn-box {
    display: flex;
    justify-content: space-between;

    button {
      width: 45%;
    }
  }
}

.loadedResult {
  background-color: $color-secondary-dark;
  list-style: none;
  border-radius: 3px;
  position: absolute;
  top: 3.5rem;
  z-index: 100;
  width: 15rem;
  overflow: hidden;
  text-align: right;
  max-height: 40rem;
  overflow-y: scroll;

  &__item {
    padding: .5rem;
    font-size: 1.4rem;

    &:hover {
      background-color: $color-primary-light;
      cursor: pointer;
    }
  }
}