<template>
  <form class="journalForm">
    <h2 class="journalForm__title">ویرایش حساب</h2>

    <p class="journalForm__formMessage journalForm__formMessage--success">{{formSuccess}}</p>
    <p class="journalForm__formMessage journalForm__formMessage--fail">{{formFail}}</p>

    <div class="journalForm__inputBox">
      <input class="journalForm__input" type="text" autocomplete="off" v-model="account"
         @focus="focusAccount" @blur="blurAccount" required readonly placeholder="انخاب کنید" id="accountInput">
      <label>حساب</label>
      <ul class="loadedResult" v-show="showOptions">
        <input type="search" id="searchAccounts" class="journalForm__input journalForm__input--search"
          @input="filterAccounts" @focus="filterAccounts" @blur="blurSearch" ref="searchBox" focus placeholder="جستجو">
        <li class="loadedResult__item" v-for="account in filteredAccounts" :key="account.id"
          @click="selectAccount" :id="account.id">
          {{account.title}}
        </li>
      </ul>
    </div>

    <div class="journalForm__inputBox">
      <input class="journalForm__input" type="text" name="new_name" v-model="new_title" required>
      <label>تغییر نام</label>
    </div>

    <div class="btn-box">
      <button class="journalForm__btn" :disabled="sending" @click.prevent="editAccount">
        <span v-if="!sending">ویرایش</span>
        <i v-if="sending" class="loader fas fa-spinner"></i> 
      </button>

      <button class="journalForm__btn journalForm__btn--delete" :disabled="deleting" @click.prevent="deleteAccount">
        <span v-if="!deleting">حذف</span>
        <i v-if="deleting" class="loader fas fa-spinner"></i> 
      </button>
    </div>
  </form>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      account: '',
      account_id: '',
      new_title: '',
      sending: false,
      formSuccess: '',
      formFail: '',
      filteredAccounts: [],
      deleting: false,
      showOptions: false
    }
  },
  props: ['loadedAccounts', 'updateAccountItem', 'deleteAccountItem'],
  methods: {
    async editAccount() {
      try {
        this.formSuccess = ''
        this.formFail = ''
        this.sending = true
        const res = await axios.post(`/editAccount/${this.account_id}`, {new_title: this.new_title})
        this.sending = false
        this.formSuccess = res.data
        this.updateAccountItem(this.account, this.new_title)
        this.clearFields()
      } catch(err) {
        this.sending = false
        console.log(err)
      }
    },
    async deleteAccount() {
      try {
        this.formSuccess = ''
        this.formFail = ''
        this.deleting = true
        const res = await axios.delete(`/deleteAccount/${this.account_id}`)
        this.deleting = false
        this.formSuccess = res.data
        this.deleteAccountItem(this.account_id)
        this.clearFields()
      } catch(err) {
        this.deleting = false
        console.log(err)
      }
    },
    focusAccount() {
      this.showOptions = true
      setTimeout(() => {
        this.$refs.searchBox.focus()
      }, 200)
    },
    blurAccount(event) {
      if (!event.relatedTarget || event.relatedTarget.id != 'searchAccounts') {
        setTimeout(() => {
          this.showOptions = false
        }, 200);
      }
    },
    filterAccounts(event) {
      if (!event.target.value) {
        this.filteredAccounts = [...this.loadedAccounts]
      } else {
        this.filteredAccounts = this.loadedAccounts.filter(item => {
          return item.title.includes(event.target.value)
        })
      }
    },
    blurSearch(event) {
      if (!event.relatedTarget || event.relatedTarget.id != 'accountInput') {
        setTimeout(() => {
          this.showOptions = false
        }, 200);
      }
    },
    selectAccount(event) {
      this.account = event.target.textContent.trim()
      this.account_id = event.target.id
    },
    clearFields() {
      this.account = ''
      this.account_id = ''
      this.new_title = ''
    }
  }
}
</script>

<style lang="scss">
@import './journal-form';
</style>