<template>
  <form class="journalForm">
    <h2 class="journalForm__title">ویرایش نماد</h2>

    <p class="journalForm__formMessage journalForm__formMessage--success">{{formSuccess}}</p>
    <p class="journalForm__formMessage journalForm__formMessage--fail">{{formFail}}</p>

    <div class="journalForm__inputBox">
      <input class="journalForm__input" type="text" autocomplete="off" v-model="account"
         @focus="focusAccount" @blur="blurAccount" required readonly placeholder="انخاب کنید" id="accountInput">
      <label>حساب</label>
      <ul class="loadedResult" v-show="showAccountOptions">
        <input type="search" id="searchingAccounts" class="journalForm__input journalForm__input--search"
          @input="filterAccounts" @focus="filterAccounts" @blur="blurAccountSearch" ref="searchBox" focus placeholder="جستجو">
        <li class="loadedResult__item" v-for="account in filteredAccounts" :key="account.id"
          @click="selectAccount">
          {{account.title}}
        </li>
      </ul>
    </div>

    <div class="journalForm__inputBox">
      <input class="journalForm__input" type="text" autocomplete="off" v-model="symbol"
         @focus="focusSymbol" @blur="blurSymbol" required readonly placeholder="انخاب کنید" id="symbolInput">
      <label>نماد</label>
      <ul class="loadedResult" v-show="showSymbolOptions">
        <input type="search" id="searchingSymbols" class="journalForm__input journalForm__input--search"
          @input="filterSymbols" @focus="filterSymbols" @blur="blurSymbolSearch" ref="searchSymbolBox" focus placeholder="جستجو">
        <li class="loadedResult__item" v-for="symbol in filteredSymbols" :key="symbol.id"
          @click="selectSymbol" :id="symbol.id">
          {{symbol.name}}
        </li>
      </ul>
    </div>

    <div class="journalForm__inputBox">
      <input class="journalForm__input" type="text" name="new_name" v-model="new_name" required>
      <label>تغییر نام</label>
    </div>

    <div class="btn-box">
      <button class="journalForm__btn" :disabled="sending" @click.prevent="editSymbol">
        <span v-if="!sending">ویرایش</span>
        <i v-if="sending" class="loader fas fa-spinner"></i> 
      </button>

      <button class="journalForm__btn journalForm__btn--delete" :disabled="deleting" @click.prevent="deleteSymbol">
        <span v-if="!deleting">حذف</span>
        <i v-if="deleting" class="loader fas fa-spinner"></i> 
      </button>
    </div>
  </form>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      account: '',
      symbol: '',
      symbol_id: '',
      new_name: '',
      sending: false,
      formSuccess: '',
      formFail: '',
      filteredAccounts: [],
      filteredSymbols: [],
      loadedSymbols: [],
      deleting: false,
      showAccountOptions: false,
      showSymbolOptions: false
    }
  },
  props: ['loadedAccounts'],
  methods: {
    async editSymbol() {
      try {
        this.formSuccess = ''
        this.formFail = ''
        this.sending = true
        const res = await axios.post(`/editSymbol/${this.symbol_id}`, {new_name: this.new_name})
        this.sending = false
        this.formSuccess = res.data
        this.clearFields()
      } catch(err) {
        this.sending = false
        console.log(err)
      }
    },
    async deleteSymbol() {
      try {
        this.formSuccess = ''
        this.formFail = ''
        this.deleting = true
        const res = await axios.delete(`/deleteSymbol/${this.symbol_id}`)
        this.deleting = false
        this.formSuccess = res.data
        this.clearFields()
      } catch(err) {
        this.deleting = false
        console.log(err)
      }
    },
    focusAccount() {
      this.showAccountOptions = true
      setTimeout(() => {
        this.$refs.searchBox.focus()
      }, 200)
    },
    focusSymbol() {
      if (this.loadedSymbols.length != 0) {
        this.showSymbolOptions = true
        setTimeout(() => {
          this.$refs.searchSymbolBox.focus()
        }, 200)
      }
    },
    blurAccount(event) {
      if (!event.relatedTarget || event.relatedTarget.id != 'searchingAccounts') {
        setTimeout(() => {
          this.showAccountOptions = false
        }, 200);
      }
    },
    blurSymbol(event) {
      if (!event.relatedTarget || event.relatedTarget.id != 'searchingSymbols') {
        setTimeout(() => {
          this.showSymbolOptions = false
        }, 200);
      }
    },
    filterAccounts(event) {
      if (!event.target.value) {
        this.filteredAccounts = [...this.loadedAccounts]
      } else {
        this.filteredAccounts = this.loadedAccounts.filter(item => {
          return item.title.includes(event.target.value)
        })
      }
    },
    filterSymbols(event) {
      if (!event.target.value) {
        this.filteredSymbols = [...this.loadedSymbols]
      } else {
        this.filteredSymbols = this.loadedSymbols.filter(item => {
          return item.name.includes(event.target.value)
        })
      }
    },
    blurAccountSearch(event) {
      if (!event.relatedTarget || event.relatedTarget.id != 'accountInput') {
        setTimeout(() => {
          this.showAccountOptions = false
        }, 200);
      }
    },
    blurSymbolSearch(event) {
      if (!event.relatedTarget || event.relatedTarget.id != 'symbolInput') {
        setTimeout(() => {
          this.showSymbolOptions = false
        }, 200);
      }
    },
    async selectAccount(event) {
      this.account = event.target.textContent.trim()
      const res = await axios.get(`/getAccountSymbols/${this.account}`)
      this.loadedSymbols = res.data
    },
    selectSymbol(event) {
      this.symbol = event.target.textContent.trim()
      this.symbol_id = event.target.id
    },
    clearFields() {
      this.account = ''
      this.symbol = ''
      this.symbol_id = ''
      this.new_name = ''
      this.loadedSymbols = []
      this.filteredSymbols = []
    }
  }
}
</script>

<style lang="scss">
@import './journal-form';
</style>